@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #242424;
  min-height: 100vh;
}

/* styles/globals.css */
.rbc-event {
  background: #ffd230 !important;
  color: #000 !important;
  border: 2px solid #ffd !important;
  border-radius: 5px !important;
  height: auto !important;
  /* padding: 10px !important; */
}

.rbc-toolbar button {
  @apply bg-[#333333] rounded px-3 py-1 hover:bg-gray-300;
}

.rbc-today {
  background-color: #ffd2307a !important;
}

.rbc-toolbar button.rbc-active {
  @apply bg-amber-600 text-white;
}
.rbc-btn-group button {
  @apply bg-[#333333] rounded px-3 py-1 hover:bg-gray-300 text-[#cccccc];
}

.rbc-btn-group button.rbc-active {
  @apply bg-amber-600 text-white;
}
